.button {
  border-radius: 0.25rem;
  color: $sub-v;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    border-color: $secondary;
    color: $secondary;
  }

  .icon {
    margin-right: 0.5em;
  }

  &_map {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
    color: $primary;
    line-height: 55px;
    text-align: center;
    background: $sub-sss;
    border: 1px solid $primary;

    &_setting {
      position: absolute;
      font-size: 30px;
      color: $primary-v;
      right: 30px;
      background-color: transparent;
      border: none;
      top: 20px;
      padding: 0;
      display: inline-block;
      transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;

      &:hover {
        color: $base;
        cursor: pointer;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &_info {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
      -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
      -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
      -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
      filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
      border: none;

      & i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        margin: auto;
      }

      &:hover {
        background: $primary-v;
        color: $base;
        cursor: pointer;
      }
    }
  }

  &--link {
    border: 0;
  }

  &--inverse {
    background: $primary-v;
    border-color: $primary-v;
    color: $base;
    transition: opacity 300ms ease-in-out;
    margin: 0 auto;
    display: block;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow: $box-shadow-v;
    box-shadow: $box-shadow-v;

    &:hover {
      background: $secondary;
      color: $base;
      opacity: 0.8;
    }

    &__top {
      @extend .button--inverse;

      padding: 0.7rem 0.75rem;
      width: 85%;
      text-align: center;

      &:hover {
        background: $secondary;
        color: $base;
        opacity: 1;
      }
    }

    &__top__bottom {
      @extend .button--inverse;

      padding: 0.7rem 0.75rem;
      width: 45%;
      text-align: center;

      &:hover {
        background: $secondary;
        color: $base;
        opacity: 1;
      }
    }
  }

  &--fluid {
    width: 100%;
  }

  &--like {
    .icon {
      color: $red;
    }
  }

  &--liked {
    background: $red;
    border-color: $red;
    color: $base;

    .icon {
      color: $base;
    }

    &:hover {
      border-color: $red;
      color: $base;
      opacity: 0.8;
    }
  }

  &__modal {
    background: $base;
    border: none;
    width: 100%;
    height: 20%;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    color: #3316f2;
    transition: background-color 300ms ease-in-out;
    border-radius: 0 0 20px 20px;

    &:hover {
      background: $sub;
    }

    &.error {
      color: $fourth;
    }
  }

  &.link {
    border-style: none;
    background: none;
    color: #3316f2;
    padding: 0;
    text-decoration: underline;
  }

  &.close {
    display: block;
    margin: auto;
    background: $base;
    &:before {
      content: "\f00d";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      padding-right: 0.5em;
    }
  }

  &_square_text_img {
    background: $primary-v;
    text-align: center;
    height: 55px;
    width: 70%;
    border: none;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    box-shadow: 6px 8px 37px 5px rgba(0, 0, 0, 0.3);

    .icon {
      width: 25px;
      margin-right: 1em;
      vertical-align: middle;
    }

    .description {
      font-size: $font-mid;
      color: $base;
      vertical-align: middle;
    }

    &:hover {
      background: $secondary;
    }
  }
}

@media screen and (max-width: 480px) {
  .button {
    &--inverse {
      width: 90%;
    }
    &_map {
      &_setting {
        right: 20px;
      }
    }

    &_square_text_img {
      width: 100%;
    }
  }
}
