.errors {
  border: 1px solid $error;
  border-radius: .25rem;
  color: $error;
  margin-bottom: 1rem;
}
.c-errors {
  &_common {
    background: $error-s;
    color: $base;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
  }
}
