.c-head_title {

  &__extreme {
    font-size: $font-extreme;
    margin: 20px 0;
  }

  &__big {
    font-size: $font-big;
    margin: 20px 0;
  }

  &__mid {
    font-size: $font-mid;

    &__modal {
      @extend .c-head_title__mid;
      font-weight: bold;
      margin-top: 0;

      i {
        margin-right: 5px;
      }

      dt {
        padding-right: 5px;
        padding-bottom: 10px;
        font-size: $font-big;
      }

      dd {
        margin-inline-start: 0;
        font-weight: normal;
        font-size: $font-big;

        .country_flag {
          -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          vertical-align: middle;
          margin-right: 5px;
        }

        .desc {
          vertical-align: middle;
        }
      }
    }
  }

  &__bold {
    font-weight: bold;
  }
}