.c-modal {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    margin: auto;
    z-index: 1;

    &__wrap {
      position: absolute;
      width: 80%;
      height: 80%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      background: $base;
      margin: auto;

      &__sml {
        @extend .c-modal__overlay__wrap;
        width: 30%;
        height: 35%;
        border-radius: 20px;
      }
    }
  }

  &__msg__section {
    background: $gradation-2;
    color: #fff;
    height: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;

    &.error {
      background: $gradation-error;
    }

    & p {
      margin-top: 0;
      margin-bottom: 10px;
    }

    & .button.link {
      color: $base;

      &:hover {
        opacity: .8;
    }
    }
  }

  &_dialog {
    display: block;
    background-color: $base;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .c-modal {
    &__overlay {
      &__wrap {
        &__sml {
          width: 90%;
        }
      }
    }
    &__msg__section {
      height: 80%;
    }
  }
}