.tab {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-bottom: 2px solid $primary-s;
    color: $primary;
    cursor: pointer;
    margin: 0 1rem 0 0;
    padding: 1rem;

    &--active {
      border-bottom: 2px solid $primary-v;
      color: $primary-v;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 480px) {
  .tab {
    justify-content: center;

    &__item {

      width: 50%;
      text-align: center;
    }
  }
}