.tab {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-bottom: 4px solid $sub;
    color: $sub-v;
    cursor: pointer;
    margin: 0 1rem 0 0;
    padding: 1rem;

    &--active {
      border-bottom: 4px solid $primary-v;
      color: $primary-v;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 480px) {
  .tab {
    &__item {
      font-size: $font-big;
      text-align: center;
      font-weight: bold;
    }
  }
}