#map {
  height: 100%;
  position: relative;
  box-shadow: 0 3px 5px $sub;
  width: 100%;

  &.show_city_detail {
    flex: 1;
  }

  &_info {
    border-radius: 10px;
    background: $sub-sss;
    width: 45%;
    min-height: 100px;
    max-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    padding: 20px;
    padding-top: 15px;
    filter: drop-shadow(0px 3px 10px rgb(200, 200, 200));
  }

  &_btn {
    position: absolute;
    top: 80px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    margin: auto;
    z-index: 1;

    &_wrap {
      position: absolute;
      width: 80%;
      height: 80%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      background: $base;
      margin: auto;
    }
  }
}

.map {
  &_info {
    &_items {
      margin: 0;

      i {
        margin-right: 5px;
        margin-top: 3px;
      }

      .title {
        font-weight: bold;
        text-align: center;
        margin: 0;
      }

      .list {
        margin-inline-start: 0;
        width: 80%;

        &.info {
          padding-left: 10px;
        }

        .country_flag {
          -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          vertical-align: middle;
          margin-right: 5px;
        }

        .desc {
          vertical-align: middle;
        }

        .items {
          font-size: $font-big;
          margin: 0;
          list-style-type: none;
          padding-left: 10px;
          padding-top: 15px;
        }

        .item{
          position: relative;
          padding-left: 5px;
          padding-right: 15px;

          img {
            width: 21px;
            vertical-align: middle;
            -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
            -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
            -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          }

          svg {
            margin-right: 0;

            &.none{
              color: $sub-v;
            }

            &.middle{
              color: $primary;
            }

            &.high{
              color: $primary-v;
              &:after {
                content: "●";
                position: absolute;
                color: $red;
                top: -10px;
                font-size: 0.3em;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
              }
            }
          }
        }
      }
      .show_detail {
        position: absolute;
        bottom: 15px;
        left: 50%;
        cursor: pointer;

        .item_btn {
          background: none;
          border: none;
          cursor: pointer;
          font-size: $font-mid;

          i {
            margin-right: 0;
            color: $sub-v;
          }
        }
      }
    }
    &_dialog {
      position: absolute;
      top: -50px;
      right: 0;
      background-color: $sub-s;

      :before {
        content: "";
        position: absolute;
        top: 100%;
        right: 32px;
        border: 15px solid transparent;
        border-top: 30px solid $sub-s;
      }
    }
    &_introduction {
      margin: 0;

      .title {
        text-align: left;

        i {
          padding-right: 10px;
        }
      }

      .list {
        width: 80%;
        color: $sub-v;

        &:before {
          content: "\f124";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: $secondary;
          margin-right: 0.5rem;
          -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
        }
      }
    }
  }
  &_tab {
    .lists {
      padding-left: 0;
      margin: 0;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: $font-mid;

      .list {
        display: inline-block;
        cursor: pointer;
        color: $text-color;

        &:last-child {
          margin-left: 10px;
        }

        a {
          padding: 5px;
          display: block;
          color: $text-color;
          text-decoration: none;

          &:hover {
            background: $secondary;
            color: $base;
            transition: color .3s,
            text-decoration .3s,
            background-color .3s;
          }
        }

        .switch {
          padding: 10px;
          display: block;
          text-decoration: none;
          font-size: $font-mid;
          background: none;
          color: $text-color;
          font-weight: bold;
          border-radius: 5px;

          &.active {
            background: $secondary;
            color: $base;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #map {
    &.show_city_detail {
      display: none;
    }

    &_info {
      width: 90%;
      padding: 20px;
      // top: 20px;
      bottom: 20px;

      &_desc {
        width: 75%;
      }
    }

    &_overlay {
      &_wrap {
        width: 95%;
        height: 90%;
        padding: 10px 20px;
      }
    }
  }

  .map {
    &_info {
      &_items {
        & .title {
          font-size: $vw6;
        }
        .dd {
          width: 75%;
        }
      }

      &_introduction {
        & .title {
          font-size: $vw6;
        }
        & .list {
          width: 75%;
        }
      }
    }
  }
}