.p-on_boarding {

  &__content {
    text-align: center;
    color: $text-color;

    & h2 {
      font-size: $font-extreme;
      padding-top: 100px;
      padding-bottom: 50px;
    }

    & p {
      font-size: $font-big;
      text-align: left;
      padding-bottom: 30px;
    }
  }

  &__wrap {
  }

  &__firstwrap {
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 100px;
  }

  &__secondwrap {
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
    background: $gradation-2;
    color: #fff;
    margin-left: -2.5%;
    margin-right: -2.5%;
    box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 -1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 -5px 6.1px rgba(0, 0, 0, 0.076),
    0 -10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 -19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 -38.4px 34.8px rgba(0, 0, 0, 0.1);
  }

  &__bottomwrap {
    padding-bottom: 80px;

    & p {
      text-align: center;
      padding-bottom: 0;
    }
  }

  &__image {
    max-width: 80%;
  }

  &__container {
    position: relative;
    color: #fff;
    padding: 0;
    overflow: auto;
    height: 101vh;
    margin-top: -6rem;
  }

  &__msg {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 7%;

    & h1 {
      font-size: $font-extreme-big;
      margin-bottom: 10px;
    }
  }

  &__desc {
    font-size: $font-mid;
    margin-bottom: 2rem;

    & p {
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .p-on_boarding {
    &__content {
      & h2 {
        font-size: $font-very-big;
      }
      & p {
        line-height: 2em;
      }
    }
    &__container {
      height: 100vh;
    }
    &__msg {
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      width: 90%;
      & h1 {
        font-size: $font-extreme;
      }
    }
    &__firstwrap {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__secondwrap {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}